.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
}


.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.btn-outline {
    background-color: transparent;
    border: 1px #fff solid;
}


.btn-outline:hover {
    background-color: #fff;
    color: var(--primary-color);
}

.btn-dark:hover {
    background-color: var(--secondary-color);
    color: #fff;
}

/* Backgrounds & colored buttons */
.bg-primary {
    background-color: var(--primary-color);
    color: #fff;
}

.bg-dark,
.btn-dark {
    background-color: var(--dark-color);
    color: #fff;
}

.bg-primary a,
.bg-dark a,
.btn-dark a {
    color: #fff;
}

/* grid and flex */

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);

}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Text colors */
.text-secondary {
    color: var(--secondary-color);
}

/* Text sizes */
.text-center {
    text-align: center;
}

/* Margin */
.my-1 {
    margin: 1rem 0;
}

.md {
    font-size: 2rem;
}

.my-4 {
    margin: 3rem 0;
}

/* Padding */
.py-5 {
    padding: 4rem 0;
}